/* [data-automation-id="focused-symbol-mask"] {
  display: none !important;
} */

[aria-label="Desktop - not active"] {
  /*background-color: #fd508d !important; */
  animation: flash 2s infinite ease-in-out !important;
}

@keyframes flash {
  0% {
    background-color: #fd508d;
    }
  50% {
    background-color: unset;
    }
  100% {
    background-color: #fd508d;
    }
}
